
*{
  margin:0;
  padding:0;
}

.fullpage{
  background-color:#87CEFA;
  width: 100%;
  height:1000px;
  margin: auto;
}
 .menubar{
  font-family: 'Cormorant Garamond', serif;
   justify-content: space-between;
   margin-top: 3%;
}
  
.map {
  width: 100%;
/*   height: 100%; */
  display:block;
  margin-top:10%;
  margin-right:150px;
  position:absolute;
  
}
.container {
  position:relative;
  background-image:url("https://cdn.glitch.com/f171d121-b09b-438b-b73d-b81b038a3f37%2F2-24325_globe-world-world-map-graphic-design-png-image.png?v=1563396921496");
  width: 100vw;
  height:100%;
  background-size:100vw;
  background-repeat: no-repeat;
}




.menubar {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-color: white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  color: white;
  background-color:#87CEFA;
  align-items: center;
  direction: column;
  position:fixed;
 min-width:100px;
  }


.title{
  height: 50px;
  width: 20%;
  color: white;
  font-size:20px;
  text-align: left;
  padding-left: 5%;
} 

#home{
  width: 18%;
  padding:5px;
  float: right; 
  margin: 20px; 
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;

}
  
#home:hover {
  margin-top:2px;
}
#home h2:hover {
  color:#C71585;
}
#worldMap{
  color: white;
  width: 18%;
  padding:5px;
  margin: 10px;
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
}
#worldMap:hover {
  margin-top:2px;
}
#worldMap h2:hover {
  color: #FF8C00;
}
  
#photoGallery{
  color: white;
  width: 18%;
  padding:1px;
  margin: 15px;
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
}
#photoGallery:hover {
  margin-top:2px;
}
#photoGallery h2:hover {
  color: #FFD700;
}
#aboutUs{
  color: white;
  width: 18%;
  padding:1px;
  margin: 15px;
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
}
 
#aboutUs:hover {
  margin-top:2px;
}
#aboutUs h2:hover {
  color: #32CD32;
}
body{
  background-color:#87CEFA;
}
button{
  background-color:#87CEFA;
  font-family: 'Cormorant Garamond', serif;
  color:white;
  border:none;
  font-size:15px;
  font-size-adjust: 20px;

}

h3{
  color:white;
  font-family:'Cormorant Garamond', serif;
  font-size:30px;
}


.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.myPopup{
  top:300px;
  right:200px;
}
.popuptext {
  visibility: hidden;
  width: 160px;
  background-color: green;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popuptext:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:black;
}

.show {
  visibility: visible;
  -webkit-animation: fadeIn 3s;
  animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

img{
  margin:100px;
  padding:20px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  padding:100px;
  border:20px #000080;
  border-radius:100%;
 border-style:double;

}
